@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-150;
  }
  body {
    @apply dark:bg-background-dark;
  }
  p {
    @apply font-plusJakarta text-base dark:text-white dark:opacity-75 md:text-lg font-normal;
  }
  h1 {
    @apply text-4xl md:text-6xl font-semibold dark:text-white;
  }
  h2, h3, h4 {
    @apply dark:text-white;
  }
  a {
    @apply dark:text-white;
  }
}

body {
  margin: 0;
  overflow: visible;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #03061A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
